.login-control{
  display: inline-block;
  position: absolute;
  right: 60px;
  top: 0;
}
.login-control *{
  color: #fff;
}
.login-control .login-form-button {
  width: 100%;
}

.login-form .ant-form-item:last-child,
.modifyPwd-form .ant-form-item:last-child,
.userRegister-form .ant-form-item:last-child{
  margin-bottom: 0;
}