doctype
html
  head
    meta(charset="utf-8")
    title #{title}
    block style
  body
    block content
      #app
    block script
    block reload
      if env !== 'production' && reload == true
        script(src='/reload/reload.js')