doctype
html
  head
    meta(charset="utf-8")
    title #{title}
    block style
    script(type="text/javascript").
      String.prototype.endWith = function(str) {
          let reg = new RegExp(str + "$");
          return reg.test(this);
      };

      String.prototype.startsWith = function(str) {
        let reg = new RegExp(str + "^");
        return reg.test(this);
      };
  body
    block content
      #app
    block script
    block reload
      if env !== 'production' && reload == true
        script(src='/reload/reload.js')