link(rel="stylesheet", href="/user/index.css")
.container
  .center-block.signin-container
    h2= title
    .form-group
      label(for="signinName") 用户名
      input#signinName.form-control(name="user[name]", type="text")
    .form-group
      label(for="signinPassword") 密码
      input#signinPassword.form-control(name="user[password]", type="password")
    .right-align
      button.btn.btn-success.signin(type="submit", id="signinAction") 登录
script(src="/user/bundle.js")