link(rel="stylesheet", href="/user/index.css")
.container
  .center-block.signup-container
    h2= title
    .form-group
      label(for="signupName") 用户名
      input#signupName.form-control(name="user[name]", type="text")
    .form-group
      label(for="signupPassword") 密码
      input#signupPassword.form-control(name="user[password]", type="password")
    .form-group
      label(for="confirmPassword") 确认密码
      input#confirmPassword.form-control(type="password")
    .right-align
      button.btn.btn-success.signup(type="submit", id="signupAction") 提交
script(src="/user/bundle.js")