.comment-area{
  margin-top: 15px;
  text-align: right;
}
.comment-area textarea{
  text-align: left;
}
.comment-area button{
  margin-top: 15px;
}
.comment-list{
  margin-top: 15px;
}
.page-control{
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.page-control a:hover{
  text-decoration: underline;
}