@import '~antd/dist/antd.css';
.ant-layout-header .logo {
  width: 120px;
  height: 31px;
  margin: 16px 28px 16px 0;
  float: left;
  text-align: center;
  line-height: 31px;
  color: #ffffff;
  font-size: 31px;
}
.right-align{
  text-align: right;
}
a, a:link{
  color: #7bc77b;
}
a:visited, a:hover, a:active{
  color: #5ea15e;
}
.navbar{
  margin-bottom: 10px;
}
.body-content-title{
  font-size: 30px;
  margin-bottom: 5px;
}
.poster{
  margin: 10px;
  padding: 5px;
  border: 1px #dddddd solid;
}
.poster-img{
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.poster-name{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  height: 20px;
  line-height: 20px;
}

