.navbar.navbar-default
  .container
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li: a(href="/") 主页
        li: a(href="/movie/new.html") 新增电影
        li: a(href="/movie/list.html") 电影列表
        li: a(href="/user/list.html") 用户列表
      p.navbar-text.navbar-right
        if user
          span 欢迎您，#{user.name}
          span &nbsp;|&nbsp;
          a.navbar-link(href="/user/logout") 登出
          span &nbsp;|&nbsp;
          a.navbar-link(href="#", data-target="#updatePwdModal", data-toggle="modal") 修改密码
        else
          a.navbar-link(href="#", data-target="#signupModal", data-toggle="modal") 注册
          span &nbsp;|&nbsp;
          a.navbar-link(href="#", data-target="#signinModal", data-toggle="modal") 登录
#signupModal.modal.fade
  .modal-dialog
    .modal-content
      //form(method="POST", action="/user/signup")
      .modal-header 注册
      .modal-body
        .form-group
          label(for="signupName") 用户名
          input#signupName.form-control(name="user[name]", type="text")
        .form-group
          label(for="signupPassword") 密码
          input#signupPassword.form-control(name="user[password]", type="password")
        .form-group
          label(for="confirmPassword") 确认密码
          input#confirmPassword.form-control(type="password")
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") 关闭
        button.btn.btn-success(type="submit", id="signupAction") 提交
#signinModal.modal.fade
  .modal-dialog
    .modal-content
      //form(method="POST", action="/user/signin")
      .modal-header 登录
      .modal-body
        .form-group
          label(for="signinName") 用户名
          input#signinName.form-control(name="user[name]", type="text")
        .form-group
          label(for="signinPassword") 密码
          input#signinPassword.form-control(name="user[password]", type="password")
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") 关闭
        button.btn.btn-success(type="submit", id="signinAction") 登录
#updatePwdModal.modal.fade
  .modal-dialog
    .modal-content
      //form(method="POST", action="/user/signin")
      .modal-header 修改密码
      .modal-body
        .form-group
          label(for="originPwd") 原密码
          input#originPwd.form-control(type="password")
        .form-group
          label(for="newPwd") 新密码
          input#newPwd.form-control(type="password")
        .form-group
          label(for="confirmUpPassword") 确认密码
          input#confirmUpPassword.form-control(type="password")
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") 关闭
        button.btn.btn-success(type="submit", id="updatePwd") 确认修改