$iconWidth: 100px;
.douban-container{
    position: relative;
    height: 750px;
}
.douban-content{
    padding: 0 $iconWidth;
    overflow: hidden;
    text-align: center;
    position: absolute;
    transition: all 0.6s;
    left: 0;
    width: 100%;
}

.douban-content-left,
.douban-content-right{
    top: 0;
}

.douban-content-left{
    left: -100%;
}

.douban-content-right{
    left: 100%;
}

.douban-content-hide{
    display: none;
}

.douban-content .poster{
    position: relative;
    display: inline-block;
    width: 25%;
    min-width: 250px;
}

.douban-content .poster:hover *{
    background-color: #ddd;
}

.douban-container .last-icon,
.douban-container .next-icon{
    width: $iconWidth - 5;
    height: $iconWidth - 5;
    position: absolute;
    top: 50%;
    color: #ddd;
}
.douban-container .last-icon:hover,
.douban-container .next-icon:hover{
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
}
.douban-container .last-icon>i,
.douban-container .next-icon>i{
    width: 100%;
    height: 100%;
    font-size: $iconWidth - 5;
    position: relative;
    top: -50%;
}
.douban-container .next-icon{
    right: 0;
}