.user-count-container{
    text-align: center;
}
.count-item{
    text-align: left;
    box-sizing: border-box;
    width: 45%;
    display: inline-block;
    box-shadow: 0 0 5px #000;
    margin: 10px;
    overflow: hidden;
}