.comment-item{
  position: relative;
}
.comment-item:not(:first-child){
  margin-top: 10px;
}
.comment-icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.comment-icon img{
  width: 100%;
  height: 100%;
}
.comment-detail{
  margin-left: 65px;
}
.comment-detail .comment-detail{
  margin-left: 1px;
}

.comment-detail .comment-content{
  line-height: 1.8em;
  margin-bottom: 0;
}
.sub-comment{
  background-color: #f0f2f5;
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: 0 0 10px #000;
}
.replay-btn{
  display: inline-block;
}
.replay-btn:hover{
  text-decoration: underline;
}
.replay-input{
  margin-top: 10px;
}
.replay-input input.ant-input{
  display: inline-block;
}
.replay-input button.ant-btn{
  border-radius: 0 4px 4px 0;
  display: inline-block;
}

.item-page-control{
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
  min-height: 1px;
  line-height: 20px;
}
.item-page-control a:hover{
  text-decoration: underline;
}