extends ../layout
block style
  if env === 'production'
    link(type="text/css", href='/dist/stylesheet/index.css', rel="stylesheet")
block script
  if env === 'production'
    script(src='/dist/js/vendor.bundle.js')
    script(src='/dist/js/index.bundle.js')
  else
    script(src='/js/vendor.bundle.js')
    script(src='/js/index.bundle.js')