extends ../layout
block style
  if env === 'production'
    link(type="text/css", href='/dist/index/index.css', rel="stylesheet")
block script
  script(src='/dist/vendor/bundle.js')
  script(src='/dist/index/bundle.js')