extends ../layout
block style
  link(type="text/css", href='/dist/stylesheet/index.css', rel="stylesheet")
block script
  script(src='/dist/js/vendor.bundle.js')
  script(src='/dist/js/index.bundle.js')